

body {
	background-color: rosybrown
}

.kClass {
	background-color: beige;
	border: 2px solid green;
	font-weight: 700;
}

.soafClass {
	background-color: blanchedalmond;
	border: 2px solid black;
	font-weight: 700;
}

.elWide {
	width: 100%;
	margin-top: 10px;
}

hr.Sep {
	height: 10px;
	background-color: black;
}

.sumColor {
	color: mediumslateblue;
	font-family: Broadway;
	font-weight: 600;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.btnMarg {
	margin-top: 10px;
	width: 50%;
}


